backports.tarfile==1.2.0
docling==2.31.0
fastapi==0.115.12
fastembed==0.6.1
h2==4.2.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
multiprocess==0.70.18
pip-chill==1.0.3
platformdirs==4.2.2
qdrant-client==1.14.2
semchunk==2.2.2
tomli==2.0.1
uvicorn==0.34.2
streamlit
